In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../BD/oportunidad.csv')

df

,Opportunity Number,Supplies Subgroup,Supplies Group,Opportunity Result,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Competitor Type,Deal Size Category,Lat,Lon,Country_Code
0,NaN,Car Electronics,Car Electronics,Won,5,94,90,469000,1,1,0,None,6,-16.130262,-63.808594,1
1,NaN,Garage & Car Care,Car Accessories,Won,4,4,4,5000,3,2,0,Unknown,1,-16.130262,-63.808594,1
2,NaN,Shelters & RV,Performance & Non-auto,Loss,4,71,71,200000,3,1,0,Unknown,5,-16.130262,-63.808594,1
3,NaN,Motorcycle Parts,Performance & Non-auto,Loss,2,46,46,120000,5,1,0,Unknown,5,-16.130262,-63.808594,1
4,NaN,Replacement Parts,Car Accessories,Won,3,6,6,12000,1,1,0,Unknown,2,-16.130262,-63.808594,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31818,9966870.0,Batteries & Accessories,Car Accessories,Won,3,5,5,20000,1,1,3,Unknown,2,7.318882,-65.170898,7
31819,9977169.0,Motorcycle Parts,Performance & Non-auto,Loss,5,3,3,50000,1,1,0,Unknown,4,5.309766,-66.401367,7
31820,9977719.0,Garage & Car Care,Car Accessories,Won,2,4,4,15000,1,1,1,Unknown,2,7.318882,-65.170898,7
31821,9991099.0,Exterior Accessories,Car Accessories,Loss,2,3,3,30000,1,1,0,Unknown,3,7.318882,-65.170898,7
31822,9995847.0,Performance Parts,Performance & Non-auto,Won,5,2,1,50000,1,1,0,Unknown,4,5.309766,-66.401367,7